<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="jp.senchan.android.wasatter2" android:versionName="2.00β2" android:versionCode="10">
	<application android:label="@string/app_name" android:icon="@drawable/wasattericon" android:debuggable="true">
		<activity android:name="Startup">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>
		<activity android:name=".activity.Main"></activity>
		<activity android:label="New post" android:name=".activity.Update"></activity>
		<activity android:name="Setting" android:label="Setting"></activity>
		<activity android:label="Status" android:name=".activity.ItemDetail"></activity>
		<activity android:label="TODO" android:name=".activity.TodoDetail"></activity>
		<activity android:label="Get OAuth token" android:name=".activity.OAuthToken"></activity>

<activity android:name=".setting.WassrAccount" android:label="設定 - Wassr" android:windowSoftInputMode="stateHidden"></activity>
<activity android:name=".setting.TwitterAccount" android:label="設定 - Twitter" android:windowSoftInputMode="stateHidden"></activity>
<activity android:name=".setting.SettingRoot"></activity>
<activity android:name=".activity.Detail" android:theme="@android:style/Theme.Dialog"></activity>
<activity android:name=".setting.DisplaySetting"></activity>
</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>