<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.senchan.android.wasatter"
      android:versionCode="8" android:versionName="1.00a">
    <application android:label="@string/app_name" android:theme="@android:style/Theme.Light" android:icon="@drawable/wasattericon" android:debuggable="true">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    
<activity android:label="New post" android:name=".activity.ActivityUpdateStatus"></activity>
<activity android:name="Setting" android:label="Setting"></activity>
<activity android:label="Status" android:name=".activity.ActivityItemDetail"></activity>
<activity android:label="TODO" android:name=".activity.ActivityTodoDetail"></activity>
<activity android:label="Get OAuth token" android:name=".activity.ActivityOAuthToken"></activity>

</application>
    <uses-sdk android:minSdkVersion="4" />
<uses-permission android:name="android.permission.INTERNET" />



<uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>

</manifest> 