<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.senchan.android.wasatter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Wasatter"
        android:icon="@drawable/wasattericon"
        android:theme="@style/Theme.Wasatter"
        android:label="@string/app_name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMain"
            android:configChanges="orientation" />
        <activity
            android:name=".activity.Update"
            android:configChanges="orientation"
            android:label="New post" />
        <activity
            android:name=".activity.Setting"
            android:configChanges="orientation"
            android:label="Setting" />
        <activity
            android:name=".activity.Detail"
            android:configChanges="orientation"
            android:label="Status" />
        <activity
            android:name=".activity.OAuthToken"
            android:configChanges="orientation"
            android:label="Get OAuth token" />
    </application>

</manifest>